<div class="container">

<!-- new attempt -->

<!-- end of new -->
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src=<%= poster_show(@movie.poster_path) %> alt="">

      <div class="caption-full">
        <h4><%= @movie.title %></h4>
        <p><%= @movie.summary %></p>
      </div>
      <div class="ratings">
        <p class="pull-right"><%= @movie.reviews.count %> reviews</p>
        <p>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          4.0 stars
        </p>
    </div>
  </div>

      <div class="text-right">
      <%= button_to "Leave a review", new_movie_review_path(@movie.id), :class => "btn btn-success", :method => :get %>
      </div>
    <div class="well">
      <% @movie.reviews.recent.each do |review| %>
      <div class="row">
        <div class="col-md-12">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <%= link_to "#{review.reviewer.username}", user_path(review.reviewer) %>
          <span class="pull-right"><%= short_time(review.created_at.to_date) %> days ago</span>
          <p><%= review.title %><br></p>
          <p><%= review.body %><br></p>
        </div>
      </div>
      <% end %>
    </div>
</div>


